@import "bulma";

/* layout */
$main: #6246ea;

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.has-background-main {
  background-color: $main;
}

.hero-body {
  background-color: #6246ea;
}

.title-logo {
  width: 250px;
}

/* favorite team select*/
.team-select-league-logo {
  width: 2rem;
  max-width: 100%;
  height: 2rem;
  max-height: 100%;
}

/* card */
.card.has-hover-action:hover {
  cursor: pointer;
  opacity: 0.6;
}

.card.is-selected {
  box-shadow: $main 0 0 0 1px inset;
}

/* logoのサイズ */
.league-logo {
  width: 4rem;
  max-width: 100%;
  height: 4rem;
  max-height: 100%;
}

.team-logo {
  width: 5rem;
  max-width: 100%;
}

.standings-team-logo {
  @include tablet {
    width: 3rem;
    max-width: 100%;
  }
  @include mobile {
    width: 2.5rem;
    max-width: 100%;
  }
}

.competition-logo {
  @include tablet {
    width: 2.5rem;
    max-width: 100%;
  }
  @include mobile {
    width: 2rem;
    max-width: 100%;
  }
}


/* リーグまたはチーム選択時 */
.select-button {
  @include tablet {
    padding: 1.5rem;
  }
  @include mobile {
    padding: 0.75rem;
  }
}

.box.team-select-description {
  border: solid 1px;
  @include tablet {
    width: 36rem;
  }
  @include mobile {
    width: 18rem;
  }
}

/* 文字列の折り返し */
.is-break-all {
  word-break: break-all;
}

input.how-to-team-select:hover {
  cursor: pointer;
  opacity: 0.6;
}

.box.how-to-competitor-team-select {
  background-color: #d1d1e9;
  width: 80rem;
  max-width: 90%;
}

.competitor-team-logo {
    width: 5rem;
    max-width: 100%;
  @include mobile {
    width: 3rem;
    max-width: 100%;
  }
}

/* Home and Awayの表示 */
.home-and-away {
  max-width: 10%;
  height: auto;
  border-radius: 10px;
  @include mobile {
    max-width: 20%;
  }
}

.home-team-name-and-logo {
  @include mobile {
    flex-direcition: column-reverse;
  }
}

.match-schedule-box {
  background-color: #d1d1e9;
  @include tablet {
    width: 9rem;
    max-width: 100%;
  }
  @include mobile {
    width: 7rem;
    max-width: 100%;
  }
}

.mobile-display {
  @include mobile {
    display: none;
  }
}

.box.standing-data {
  @include mobile {
    width: 24rem;
  }
}
/* /schedulesページ */
$app-color: #6246ea;

/* myteamのカラー */
.favorite-team-tag {
  background-color: $app-color;
  width: 4.5rem;
  height: 2rem;
  max-width: 100%;
  border-radius: 10px;
}

.box.standing-data :hover {
  cursor: pointer;
  opacity: 0.6;
}

.favorite-team-name-and-rank {
  border-right: solid 1px;
}

.favorite-team-points {
  border-right: solid 1px;
}

.favorite-team-played {
  border-right: solid 1px;
}

.match-data {
  @tablet tablet{
    width: 32rem;
  }
  @include mobile {
    width: 23rem;
  }
}

.next-match {
  border-bottom: solid 1px;
}

/* 対戦予定コンペティションのロゴ */
.next-match-competition-logo {
    width: 1rem;
    height: auto;
    max-width: 10%;
}

.next-match-venu {
  width: 2rem;
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 10px;
  @include mobile {
    max-width: 20%;
  }
}

.match-name {
  width: 1rem;
}

/* 試合詳細 */
.match-schedule-card {
  @include tablet {
    width: 54rem;
  }
  @include mobile {
    width: 20rem;
  }
}

.selected-team {
  width: 40rem;
}

.match-list {
  @include tablet {
    width: 48rem;
  }
  @include mobile {
    width: 18rem;
  }
}

.selected-team {
  @include mobile {
    width: 20rem;
  }
}


/* ボタン */
$button-color: #6246ea;

.color-button {
  background-color: $button-color;
}
