@import "bulma";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* layout */
$main: #6246ea;

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.has-background-main {
  background-color: $main;
}

footer {
  background-color: #6246ea;
}

.title-logo {
  width: 250px;
}

/* card */
.card.has-hover-action:hover {
  cursor: pointer;
  opacity: 0.6;
}

.card.is-selected {
  box-shadow: $main 0 0 0 1px inset;
}

/* logoのサイズ */
.league-logo {
  width: 4rem;
  max-width: 100%;
  height: 4rem;
  max-height: 100%;
}

.team-logo {
  width: 5rem;
  max-width: 100%;
}

.standings-team-logo {
  @include tablet {
    width: 3rem;
    max-width: 100%;
  }
  @include mobile {
    width: 2.5rem;
    max-width: 100%;
  }
}

.competition-logo {
  @include tablet {
    width: 2.5rem;
    max-width: 100%;
  }
  @include mobile {
    width: 2rem;
    max-width: 100%;
  }
}


/* リーグまたはチーム選択時 */
.select-button {
  @include tablet {
    padding: 1.5rem;
  }
  @include mobile {
    padding: 0.75rem;
  }
}

.team-select-description {
  @include tablet {
    width: 40rem;
  }
  @include mobile {
    width: 18rem;
  }
}

/* 文字列の折り返し */
.is-break-all {
  word-break: break-all;
}

.box.how-to-competitor-team-select {
  background-color: #d1d1e9;
  width: 80rem;
  max-width: 90%;
}

.competitor-team-logo {
    width: 5rem;
    max-width: 100%;
  @include mobile {
    width: 3rem;
    max-width: 100%;
  }
}

.home-and-away-size {
  width: 3rem;
  max-width: 100%;
}

.match-schedule-box {
  background-color: #d1d1e9;
  @include tablet {
    width: 9rem;
    max-width: 100%;
  }
  @include mobile {
    width: 7rem;
    max-width: 100%;
  }
}

.mobile-display {
  @include mobile {
    display: none;
  }
}

/* ボタン */
$button-color: #6246ea;

.color-button {
  background-color: $button-color;
}
